<!DOCTYPE html>
<html lang="en">
	<head>
    	<meta charset="utf-8">
    	<meta name="description" content="Your description goes here">
    	<meta name="keywords" content="one, two, three">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- FAVICON -->
    <link rel="icon" href="assets/favicon/favicon.ico">
    <link rel="apple-touch-icon" href="assets/favicon/apple-touch-icon.png">
    <link rel="manifest" href="assets/favicon/site.webmanifest">

		<title>Deborah Imaji</title>

		<!-- external CSS link -->
		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/style.css">
	</head>
	<body>

    <div>
      <div>
        <div id="menu-target">
          <audio loop id="audioPlayer" autoplay>
            <source src="assets/sound/preloader.mp3" type="audio/mp3">
          </audio>
        </div>
      </div>
    </div>

		<script type="text/javascript" src="js/main.js"></script>
	</body>
</html>
