/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

:root {
  --color-white: #FFF;
  --color-gray: #C4C4C4;
  --color-black: #000;
  --color-purple: #8000FF;
  --color-light-purple: #CF59E6;
  --color-light-blue: #6BC5F8;
}

@font-face {
  font-family: 'Circular Std Book';
  src: url('../assets/fonts/CircularStd-Book.woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'D-DIN Condensed';
  src: url('../assets/fonts/D-DINCondensed-Bold.woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Mark Pro';
  src: url('../assets/fonts/MarkPro-Heavy.woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  background: #000;
  color: var(--color-white);
  font-family: 'Circular Std Book', sans-serif;
  font-size: 1.6rem;
  overflow-x: hidden;
}

a {
  color: var(--color-white);
  text-decoration: none;
}


/******************************************
/* LAYOUT
/*******************************************/

/* PRELOADER */

.preloader {
  background: #10101A;
  display: grid;
  height: 100vh;
  left: 0;
  place-content: center;
  position: fixed;
  top: -100vh;
  transition: top 0.8s ease-in-out;
  width: 100vw;
  z-index: 129993994;
}

.preloader.is-inview {
  top: 0;
}

.preloader__wrapper {
  align-items: center;
  display: flex;
  justify-content: center;
}

.preloader__left {
  margin: 0 0.5rem 0 0;
  opacity: 1;
  transform: none;
}

.preloader__left img {
  width: 50px;
}

.preloader__right {
  height: 2.3rem;
  margin: 0 0 0 0.5rem;
  opacity: 1;
  overflow: hidden;
  position: relative;
  transform: none;
  width: max-content;
}

.preloader__right:after, .preloader__right:before {
  content: "";
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

.preloader__right:before {
  background-image: linear-gradient(180deg, #10101A 5%, rgba(16,16,26,0) 30%);
}

.preloader__right:after {
  background-image: linear-gradient(0deg, #10101A 5%, rgba(16,16,26,0) 30%);
}

.preloader__text {
  color: var(--color-white);
  font-family: 'D-DIN Condensed', sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
  letter-spacing: 0.19em;
  line-height: 2.3rem; 
  height: 2.3rem;
  margin: 0;
}

.preloader__track {
  animation: preloaderCarousel 4.5s cubic-bezier(0.77, 0, 0.175, 1) infinite;
}

@keyframes preloaderCarousel {
  0%, 25% {
    transform: translateY(0);
  }
  33%, 58% {
    transform: translateY(-2.3rem);
  }
  66%, 91% {
    transform: translateY(-4.6rem);
  }
  100% {
    transform: translateY(-6.9rem);
  }
}

/* CURSOR */

.cursor {
  background-image: url('../assets/images/cursor.png');
  background-repeat: no-repeat;
  background-size: contain;
  height: 6rem;
  pointer-events: none;
  position: absolute;
  right: 20%;
  top: 40%;
  width: 6rem;
  z-index: 1233333;
  animation: cursorAnim 10s linear infinite;
}

@keyframes cursorAnim {
  0% {
    transform: rotate(0deg);
  } 100% {
    transform: rotate(1turn);
  }
}

@media all and (max-width: 800px) {
  .cursor {
    opacity: 0;
  }
}

/* NAVBAR */

.navbar {
  align-items: center;
  backdrop-filter: blur(104px);
  background: rgba(42,43,56,0.5);
  border: 0.15rem solid #2A2B37;
  border-radius: 1.5rem;
  display: flex;
  justify-content: space-between;
  left: 0;
  margin: 0 auto;
  padding: 1rem 2.5rem;
  position: fixed;
  right: 0;
  top: 3rem;
  width: 60%;
  z-index: 999;
}

.nav-logo {
  width: 3.25rem;
}

.nav-links {
  align-items: center;
  display: flex;
  gap: 40px;
  justify-content: flex-end;
}

.nav-links a {
  color: var(--color-gray);
  font-family: 'D-DIN Condensed', sans-serif;
  font-size: 0.8rem;
  transition: all 0.3s ease-in-out;
}

.nav-links a:hover {
  color: var(--color-white);
}

.nav-burger {
  background: transparent;
  border: none;
  cursor: pointer;
  display: none;
  outline: none;
}

.nav-menu {
  align-items: center;
  background: #050810;
  color: var(--color-white);
  display: flex;
  flex-direction: column;
  gap: 3rem;
  height: 100vh;
  justify-content: center;
  left: -100vw;
  overflow: hidden;
  padding: 5rem 2rem 0 2rem;
  position: fixed;
  text-align: center;
  top: 0;
  transition: all 0.5s ease-in-out;
  width: 100%;
  z-index: 5;
}

.nav-menu.active {
    left: 0;
}

.nav-menu-socials {
  align-items: center;
  display: flex;
  gap: 2rem;
  justify-content: space-between;
}

.nav-menu-socials a {
  color: var(--color-light-blue);
  font-family: 'D-DIN Condensed', sans-serif;
  font-size: 1.5rem;
  font-weight: 100;
  letter-spacing: -0.03em;
  line-height: 92.4%;
  transition: all 0.3s ease-in-out;
}

.nav-menu-socials a:hover {
  color: var(--color-white);
}

.nav-menu-h4 {
  font-family: 'D-DIN Condensed', sans-serif;
  font-size: 1rem;
  font-weight: 100;
  letter-spacing: 0.19em;
  line-height: 92.4%;
}

.nav-menu-cta {
  color: var(--color-white);
  font-family: 'Mark Pro', sans-serif;
  font-size: 2.5rem;
  letter-spacing: -0.03rem;
  transition: all 0.3s ease-in-out;
}

.nav-menu-cta:hover {
  color: var(--color-light-purple);
}

.nav-menu img {
  width: 50px;
}

.nav-menu-projects {
  align-items: center;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}

.nav-menu-projects a {
  font-family: 'Mark Pro', sans-serif;
  font-size: 0.6rem;
  height: 7.5rem;
  letter-spacing: -0.085em;
  line-height: 130%;
  position: relative;
  transition: all 0.3s ease-in-out;
}

.nav-menu-projects a:hover {
  transform: scale(1.1);
}

.nav-menu-projects a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 1;
  transition: background 0.3s ease;
}

.nav-menu-projects a:hover::before {
  background: rgba(0, 0, 0, 0.7);
}

.nav-menu-projects img {
  border-radius: 1.15rem;
  height: 100%;
  object-fit: cover;
  transition: all 0.3s ease-in-out;
  width: 100%;
}

.nav-menu-projects h2 {
  color: var(--color-white);
  left: 15%;
  position: absolute;
  top: 35%;
  z-index: 2;
}

@media screen and (max-width: 800px) {
  .navbar {
    border: 0.1rem solid #2A2B37;
    border-radius: 1rem;
    padding: 0.65rem 1rem;
    top: 2.25rem;
    width: 70%;
  }
  .nav-logo {
    width: 2.5rem;
  }
  .nav-links {
    display: none;
  }
  .nav-burger {
    display: inline-block;
  }
}


/* HOME SECTION */

.home-section {
  position: relative;
}

.home-section:before {
  background-image: url('../assets/images/hand-left.webp');
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
  display: block;
  height: 22rem;
  left: 0;
  position: absolute;
  top: 0;
  width: 22rem;
}


.home-section:after {
  background-image: url('../assets/images/hand-right.webp');
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
  display: block;
  height: 40rem;
  position: absolute;
  right: 0;
  top: 12.5rem;
  width: 20rem;
  z-index: -1;
}

.home-wrapper {
  padding: 12.5rem 6rem 0 6rem;
}

.home-heading {
  color: var(--color-white);
  font-family: 'Mark Pro', sans-serif;
  font-size: 4.5rem;
  letter-spacing: -0.03em;
  line-height: 100%;
}

.home-gradient {
  background: linear-gradient(-45deg, var(--color-light-blue), var(--color-light-purple), var(--color-light-blue), var(--color-light-purple));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 400% 400%;
  animation: gradient 3s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  } 50% {
    background-position: 100% 50%;
  } 100% {
    background-position: 0% 50%;
  }
}

.home-desc {
  color: var(--color-gray);
  font-size: 1.25rem;
  line-height: 130.4%;
  width: 41%;
}

.home-projects {
  border-bottom: 1.25px solid var(--color-gray);
  color: var(--color-gray);
  display: inline-block;
  font-family: 'D-DIN Condensed', sans-serif;
  font-size: 1.25rem;
  letter-spacing: 0.19em;
  line-height: 92.4%;
  margin: 5rem 0 0 0;
  padding: 0 0 0.5rem 0;
}

.home-socials {
  align-items: center;
  display: flex;
  gap: 2rem;
  justify-content: flex-end;
  margin: 2rem 0 0 0;
  width: 100%;
}

.home-socials a {
  color: var(--color-gray);
  font-family: 'D-DIN Condensed', sans-serif;
  letter-spacing: -0.03em;
  line-height: 92.4%;
  transition: all 0.3s ease-in-out;
}

.home-socials a:hover {
  color: var(--color-white);
}

@media screen and (max-width: 800px) {
  .home-section:before {
    height: 12.5rem;
    top: 0.5rem;
    width: 12.5rem;
  }
  .home-section:after {
    height: 20rem;
    top: 26rem;
    width: 10rem;
  }
  .home-wrapper {
    padding: 10rem 2rem 0 2rem;
  }
  .home-heading {
    font-size: 2.75rem;
  }
  .home-desc {
    font-size: 1rem;
    width: 100%;
  }
  .home-projects {
    font-size: 0.9rem;
    margin: 4rem 0 0 0;
  }
  .home-socials {
    gap: 1.25rem;
    margin: 6rem 0 0 0;
  }
  .home-socials a {
    font-size: 1rem;
  }
}


/* HOOK SECTION */
.hook-section {
  padding: 6rem 6rem 2rem 6rem;
}

.hook-heading {
  font-family: 'Mark Pro', sans-serif;
}

.hook-desc {
  color: var(--color-gray);
  font-size: 1rem;
  line-height: 130.4%;
  margin: 0 0 1.5rem 0;
}

@media screen and (max-width: 800px) {
  .hook-section {
    padding: 6rem 2rem 2rem 2rem;
  }
  .hook-heading {
    font-size: 1.05rem;
  }
  .hook-desc {
    font-size: 0.75rem;
  }
}


/* PROJECTS SECTION */

.projects-section {
  padding: 4rem 6rem 1.5rem 6rem;
}

.heading-2 {
  font-family: 'Mark Pro', sans-serif;
  font-size: 3rem;
  letter-spacing: -0.03em;
}

.heading-2 span {
  background-image: linear-gradient(90deg, #B0F3F1, #FFCFDF);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.section-paragraph {
  color: var(--color-gray);
  font-size: 1.15rem;
}

.project-card {
  align-items: center;
  backdrop-filter: blur(54px);
  -webkit-backdrop-filter: blur(54px);
  background: linear-gradient(180deg, rgba(35,37,49,0.5), rgba(15,15,24,0.5));
  border: 0.2rem solid #20222E;
  border-radius: 5rem;
  display: flex;
  justify-content: flex-start;
  margin: 10rem auto;
  padding: 4rem 3rem;
  position: relative;
  transition: all 0.3s ease-in-out;
  width: 85%;
}

.project-card:hover {
  transform: scale(1.05);
}

.project-card:first-of-type:before {
  background-image: url('../assets/images/01.svg');
}

.project-card:nth-of-type(2):before {
  background-image: url('../assets/images/02.svg');
}

.project-card:nth-of-type(3):before {
  background-image: url('../assets/images/03.svg');
}

.project-card:before {
  background-size: contain;
  background-repeat: no-repeat;
  content: "";
  display: block;
  height: 9rem;
  position: absolute;
  right: -2rem;
  top: -3rem;
  width: 9rem;
}

.project-card-h4 {
  color: #8B8B8B;
  font-family: 'D-DIN Condensed', sans-serif;
  font-size: 1rem;
  letter-spacing: 0.19em;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
}

.project-card-middle {
  border-radius: 3.5rem;
  height: 27.5rem;
  margin: 0 0 0 2.5rem;
  overflow: hidden;
  position: relative;
  width: 22rem;
}

.project-card-images {
  filter: url(#filter-0);
  inset: 0;
  position: absolute;
}

.project-card-images img {
  height: 100%;
  inset: 0;
  object-fit: cover;
  position: absolute;
  transition: opacity 0.7s ease;
  width: 100%;
}

.img-b {
  opacity: 0;
}

.project-card-middle:hover .img-b {
  opacity: 1;
}

.project-card-middle:hover .img-a {
  opacity: 0;
}

.project-card-right {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 0 0 4rem;
}

.project-card-right h3 {
  font-family: 'Mark Pro', sans-serif;
  font-size: 2.75rem;
  letter-spacing: -0.03em;
  line-height: 105%;
  margin: 0 0 3rem 0;
  padding: 0 0 0.5rem 0;
  animation: gradient 3s ease-in-out infinite;
}

.project1 .project-card-right h3 {
  background: linear-gradient(-45deg, #63898A, #9FBCBF, var(--color-white), var(--color-white), var(--color-white));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 400% 400%;
}

.project2 .project-card-right h3 {
  background: linear-gradient(-45deg, #FBB034, #FD0, var(--color-white), var(--color-white), var(--color-white));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 400% 400%;
}

.project3 .project-card-right h3 {
  background: linear-gradient(-45deg, #045DE9, #09C6F9, var(--color-white), var(--color-white), var(--color-white));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 400% 400%;
}

.project-card-link {
  border-bottom: 1.25px solid var(--color-gray);
  font-family: 'D-DIN Condensed', sans-serif;
  font-size: 1.15rem;
  letter-spacing: 0.19em;
  line-height: 92.4%;
  margin: 0 0 5.5rem 0;
  padding: 0 0 0.4rem 0;
  transition: all 0.3s ease-in-out;
}

.project1 .project-card-link {
  color: #6B9796;
}

.project2 .project-card-link {
  color: #E6972F;
}

.project3 .project-card-link {
  color: #57A3C7;
}

.project-card-link:hover {
  color: var(--color-white);
}

.project-card-right img {
  width: 2rem;
}

@media screen and (max-width: 800px) {
  .projects-section {
    padding: 4rem 2rem 0 2rem;
  }
  .heading-2 {
    font-size: 2rem;
  }
  .section-paragraph {
    font-size: 0.9rem;
  }
  .project-card {
    align-items: flex-start;
    border: 0.125rem solid #20222E;
    border-radius: 2.25rem;
    flex-direction: column;
    justify-content: center;
    margin: 6.5rem auto 7.5rem auto;
    padding: 2.15rem 1.75rem 2rem 1.75rem;
    width: 88.5%;
  }
  .project-card:before {
    height: 6rem;
    right: -1rem;
    top: -2rem;
    width: 6rem;
  }
  .project-card-h4 {
    display: none;
  }
  .project-card-middle {
    border-radius: 1.5rem;
    height: 18.5rem;
    margin: 0 0 1.5rem 0;
    width: 100%;
  }
  .project-card-right {
    margin: 0;
  }
  .project-card-right h3 {
    font-size: 2rem;
    margin: 0 0 1.25rem 0;
  }
  .project-card-link {
    font-size: 0.9rem;
    margin: 0 0 2rem 0;
  }
  .project-card-right img {
    width: 1.5rem;
  }
}


/* SERVICES SECTION */

.services-section {
  background: #050810;
  padding: 4rem 6rem 7rem 6rem;
}

.service-gallery {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 2.5rem;
  justify-content: center;
  margin: 6rem 0 0 0;
}

.service-card {
  background: #171E2F;
  border-radius: 2.5rem;
  padding: 1.5rem 2.25rem;
  transition: all 0.5s ease-in-out;
  width: calc(50% - 1.5rem);
}

.service-card:hover {
  transform: scale(1.1);
}

.service-card-top {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.service-card-top h3 {
  color: var(--color-gray);
  font-family: 'D-DIN Condensed', sans-serif;
  font-size: 1.5rem;
  text-transform: uppercase;
  
}

.service-card-top img {
  width: 6rem;
}

.service-card-desc {
  font-size: 1rem;
}

@media screen and (max-width: 800px) {
  .services-section {
    padding: 3rem 2rem 5rem 2rem;
  }
  .service-gallery {
    flex-direction: column;
    gap: 1.25rem;
    justify-content: flex-start;
    margin: 3rem 0 0 0;
  }
  .service-card {
    padding: 1rem 1.5rem;
    width: 100%;
  }
  .service-card-top h3 {
    font-size: 1.25rem;
  }
  .service-card-top img {
    width: 4.5rem;
  }
  .service-card-desc {
    font-size: 0.9rem;
  }
}


/* ABOUT SECTION */

.about-section {
  align-items: center;
  display: flex;
  gap: 5rem;
  justify-content: space-between;
  padding: 6rem 6rem 6rem 6rem;
}

.about-left {
  width: calc(65% - 2.5rem);
}

.about-section .section-paragraph {
  font-size: 1.5rem;
  line-height: 150%;
}

.about-right {
  width: calc(35% - 2.5rem);
}

.about-right img {
  border-radius: 3rem;
  transition: all 0.3s ease-in-out;
  width: 100%;
}

.about-right img:hover {
  transform: scale(1.05);
}

@media screen and (max-width: 800px) {
  .about-section {
    flex-direction: column-reverse;
    gap: 1rem;
    justify-content: flex-start;
    padding: 4.5rem 2rem 4rem 2rem;
  }
  .about-left {
    width: 100%;
  }
  .about-section .section-paragraph {
    font-size: 1rem;
  }
  .about-right {
    width: 50%;
  }
}


/* CONTACT SECTION */
.contact-section {
  padding: 4rem 6rem 4rem 6rem;
  text-align: center;
}

.contact-section .section-paragraph {
  font-size: 1.25rem;
}

.contact-p {
  color: var(--color-gray);
  font-size: 1.35rem;
  line-height: 150%;
  margin: 4rem 0 4rem 0;
}

.contact-form {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  margin: 0 auto;
  width: 80%;
}

.contact-form input, .contact-form textarea {
  background: #171E2F;
  border: none;
  color: var(--color-white);
  padding: 1.5rem 2rem;
}

.contact-form #name, .contact-form #email {
  width: calc(50% - 1rem);
}

.contact-form #message {
  width: 100%;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
