/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

@font-face {
  font-family: 'Circular Std Book';
  src: url('../assets/fonts/CircularStd-Book.woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'D-DIN Condensed';
  src: url('../assets/fonts/D-DINCondensed-Bold.woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Mark Pro';
  src: url('../assets/fonts/MarkPro-Heavy.woff');
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

:root {
  --main-bg: #000;
  --color-gray: #C4C4C4;
}

body {
  background: var(--main-bg);
  font-family: 'Circular Std Book', sans-serif;
  font-size: 1.6rem;
}


/******************************************
/* LAYOUT
/*******************************************/
.navbar {
  align-items: center;
  backdrop-filter: blur(104px);
  background: rgba(42,43,56,0.5);
  border: 0.1rem solid #2A2B37;
  border-radius: 2rem;
  display: flex;
  font-family: 'D-DIN Condensed', sans-serif;
  font-size: 0.9rem;
  justify-content: space-between;
  left: 0;
  margin: 0 auto;
  padding: 1.25rem 3.5rem;
  position: fixed;
  right: 0;
  top: 2.5rem;
  width: 70%;
}

.nav-brand {
  align-items: center;
  display: flex;
}

.nav-brand img {
  width: 35px;
}

.nav-menu {
  align-items: center;
  display: flex;
  gap: 50px;
}

.navbar a {
  color: var(--color-gray);
  text-decoration: none;
}

.navbar a:hover {
  color: #FFF;
}

.nav-burger {
  align-items: center;
  display: none;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
}

.nav-burger span {
  background: var(--color-gray);
  height: 2.5px;
  width: 30px;
}

.nav-burger-menu {
  display: none;
}

@media all and (max-width: 800px) {
  .navbar {
    padding: 1rem;
    width: 75%;
  }
  .nav-brand img {
    width: 55px;
  }
  .nav-brand span {
    display: none;
  }
  .nav-menu {
    display: none;
  }
  .nav-burger {
    display: block;
  }
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
