/* Box Model Hack */
*, :after, :before {
     box-sizing: inherit;
  margin: 0;
  padding: 0;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

:root {
  --color-white: #FFF;
  --color-gray: #C4C4C4;
  --color-black: #000;
  --color-purple: #8000FF;
  --color-light-purple: #CF59E6;
  --color-light-blue: #6BC5F8;
}

@font-face {
  font-family: 'Circular Std Book';
  src: url('../assets/fonts/CircularStd-Book.woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  background: #000;
  font-family: 'Circular Std Book', sans-serif;
  font-size: 1.6rem;
  overflow-x: hidden;
}


/******************************************
/* LAYOUT
/*******************************************/

/* AUDIO */

audio:not([controls]) {
  display: none;
}

audio {
  height: 54px;
  width: 300px;
}

/* PRELOADER */

.preloader {
  background: #10101A;
  display: grid;
  height: 100vh;
  left: 0;
  place-content: center;
  position: fixed;
  top: -100vh;
  width: 100vw;
  z-index: 129993994;
}

.preloader.is-inview {
  top: 0;
}

.preloader__wrapper {
  align-items: center;
  display: flex;
  justify-content: center;
}

.preloader__left {
  margin: 0 1rem 0 0;
  opacity: 1;
  transform: none;
}

.preloader__right {
  height: 4rem;
  margin: 0 0 0 1rem;
  opacity: 1;
  overflow: hidden;
  position: relative;
  transform: none;
  width: max-content;
}

.preloader__right:after, .preloader__right:before {
  content: "";
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
